#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.towers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.tower-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 2rem;
  margin: 0 auto;
}

.tower {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 2rem;
  margin: 0 auto;
  background-color: brown;
}

.block {
  height: 1rem;
  content: ' ';
}